.page.theme_dark {
  --background-color: #00183F;
  --accent-color: #ff0070;
  --title-color: #DB00FF;
  --heading-text-color: #000028;
  --main-text-color: #F1B2CE;
  --button-color: rgba(255, 0, 112, 0.5);
  --background-image: url(../images/cover-image-dark.png);
  --title-accent-color: #ff0070;
  --title-background-color: #ff0070;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #00183F;
    --accent-color: #ff0070;
    --title-color: #DB00FF;
    --heading-text-color: #000028;
    --main-text-color: #F1B2CE;
    --button-color: rgba(255, 0, 112, 0.5);
    --background-image: url(../images/cover-image-dark.png);
    --title-accent-color: #ff0070;
    --title-background-color: #ff0070;
}
}

.theme_dark .rec {
  display: block;
  font-size: 18px;
}

.theme_dark .rec:after {
  inline-size: 8px;
  block-size: 8px;
  box-shadow: 0 0 4px 2px var(--accent-color);
}

@media (width < 1024px) {
  .theme_dark .title {
    --title-accent-color: #ff0070;
    text-shadow: 4px 4px 0 var(--title-accent-color);
  }
}
