.page.theme_light {
  background-color: #FFF1F7;
  --accent-color: #353430;
  --dark-text-color: #000028;
  --light-text-color: #353430;
  --light-accent-color: #FF8DCB;
}

@media (prefers-color-scheme: light) {
  :root {
      --accent-color: #353430;
      --dark-text-color: #000028;
      --light-text-color: #353430;
      --light-accent-color: #FF8DCB;
  }

  .page {
    background-color: #FFF1F7;
    }

  .decorated-zone {
    background-image: url(../images/cover-image-light.png);
  }

    .rec {
    font-size: 0;
  }

  .rec::after {
    content: "";
    inline-size: 0px;
    block-size: 0px;
    box-shadow: 0 0 0px 0px var(--accent-color);
  }

  .header-title {
    text-shadow: 4px 4px 0 #FF0070;
  }

  .title-decor {
    background-color: var(--light-accent-color);
    color: var(--light-text-color);
  }

    .title {
    text-shadow: 4px 4px 0 #FF0070;
}

  .how__list {
  background-color: var(--light-accent-color);
  }

  a {
    text-shadow: 2px 2px 0 var(--light-accent-color);
  }
}

.theme_light .decorated-zone {
    background-image: url(../images/cover-image-light.png);
}

.theme_light .rec {
  font-size: 0;
}

.theme_light .rec::after {
  content: "";
  inline-size: 0px;
  block-size: 0px;
  box-shadow: 0 0 0px 0px var(--accent-color);
}

.theme_light .title {
    text-shadow: 4px 4px 0 #FF0070;
}

.theme_light .title-decor {
    background-color: var(--light-accent-color);
    color: var(--light-text-color);
}

.theme_light .how__list {
    background-color: var(--light-accent-color);
}

.theme_light a {
  text-shadow: 2px 2px 0 var(--light-accent-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: #00183F;
    --accent-color: #ff0070;
    --title-color: #DB00FF;
    --dark-text-color: #000028;
    --light-text-color: #F1B2CE;
}

.theme-dark .page {
  background-color: #00183F;
  }

  .theme-dark .decorated-zone {
  background-image: url(../images/cover-image-dark.png);
}

.theme-dark .title {
  text-shadow: 4px 4px 0 #FF0070;
}

.theme-dark .title-decor {
  background-color: var(--accent-color);
}

.theme-dark .how__list {
background-color: var(--accent-color);
}

.theme-dark a {
  text-shadow: 2px 2px 0 var(--accent-color);
}
}
