.page.theme_light {
  --background-color: #FFF1F7;
  --accent-color: #353430;
  --title-color: #FFC2E6;
  --button-color: rgba(50, 49, 45, 0.4);
  --background-image: url(../images/cover-image-light.png);
  --title-accent-color: #ff0070;
  --title-background-color: #FF8DCB;
  --heading-text-color: #353430;
  --main-text-color: #353430;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #FFF1F7;
    --accent-color: #353430;
    --title-color: #FFC2E6;
    --button-color: rgba(50, 49, 45, 0.4);
    --background-image: url(../images/cover-image-light.png);
    --title-accent-color: #ff0070;
    --title-background-color: #FF8DCB;
    --heading-text-color: #353430;
    --main-text-color: #353430;
}

.rec {
  display: none;
}

@media (width < 1024px) {
  .title {
    --title-accent-color: #FF8DCB;
    text-shadow: 4px 4px 0 var(--title-accent-color);
  }
}
}

.theme_light .rec {
  display: none;
}

@media (width < 1024px) {
  .theme_light .title {
    --title-accent-color: #FF8DCB;
    text-shadow: 4px 4px 0 var(--title-accent-color);
  }
}

