.page.theme_light {
  background-color: #FFF1F7;
  --accent-color: #353430;
  --title-color: #FFC2E6;
  --dark-text-color: #000028;
  --light-text-color: #353430;
  --light-accent-color: #FF8DCB;
  --button-color: rgba(50, 49, 45, 0.4);
}

@media (prefers-color-scheme: light) {
  :root {
      --accent-color: #353430;
      --dark-text-color: #000028;
      --light-text-color: #353430;
      --light-accent-color: #FF8DCB;
      --button-color: rgba(50, 49, 45, 0.4);
      --title-color: #FFC2E6;
}

  .page {
    background-color: #FFF1F7;
    }

  .header {
    background-image: url(../images/cover-image-light.png);
  }

  .rec {
    font-size: 0;
  }

  .rec:after {
    content: "";
    inline-size: 0px;
    block-size: 0px;
    box-shadow: 0 0 0px 0px var(--accent-color);
  }

  .header-title {
    text-shadow: 4px 4px 0 #FF0070;
  }

  .title {
    text-shadow: 4px 4px 0 #FF0070;
}

@media (768px <= width < 1024px) {
  .title {
    text-shadow: 4px 4px 0 var(--light-accent-color);
  }
}

@media (375px <= width < 768px) {
  .title {
    text-shadow: 4px 4px 0 var(--light-accent-color);
  }

  .header__theme-menu-list {
    margin-block-start: 63px;
}

  .title-decor {
    background-color: var(--light-accent-color);
    color: var(--light-text-color);
  }

  .how__list {
    background-color: var(--light-accent-color);
  }

  a {
    text-shadow: 2px 2px 0 var(--light-accent-color);
  }
}
}

  .theme_dark .rec {
    grid-column: 9;
    background-color: transparent;
    color: var(--accent-color);
    font-size: 18px;
    line-height: 118%;
    align-content: center;
    font-family: inherit;
    position: relative;
    display: block;
    text-transform: uppercase;
    margin-block-start: 1.4rem;
    margin-inline-start: 2rem;
}

.theme_dark .rec:after {
  content: "";
  inline-size: 8px;
  block-size: 8px;
  background-color: var(--accent-color);
  border-radius: 50%;
  position: absolute;
  inset-block-start: 0.4rem;
  inset-inline-start: 2.8rem;
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.theme_light .header {
    background-image: url(../images/cover-image-light.png);
}

.theme_light .rec {
  font-size: 0;
}

.theme_light .rec:after {
  content: "";
  inline-size: 0px;
  block-size: 0px;
  box-shadow: 0 0 0px 0px var(--accent-color);
}

.theme_light .title {
    text-shadow: 4px 4px 0 #FF0070;
}

.theme_light .title-decor {
    background-color: var(--light-accent-color);
    color: var(--light-text-color);
}

.theme_light .how__list {
    background-color: var(--light-accent-color);
}

.theme_light a {
  text-shadow: 2px 2px 0 var(--light-accent-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: #00183F;
    --accent-color: #ff0070;
    --padding-buttom: 0px 13px;
    --title-color: #DB00FF;
    --dark-text-color: #000028;
    --light-text-color: #F1B2CE;
}

.theme_dark .page {
  background-color: #00183F;
  }

  .theme_dark .header {
  background-image: url(../images/cover-image-dark.png);
}

.theme_dark .title {
  text-shadow: 4px 4px 0 #FF0070;
}

.theme_dark .title-decor {
  background-color: var(--accent-color);
}

.theme_dark .how__list {
background-color: var(--accent-color);
}

.theme_dark a {
  text-shadow: 2px 2px 0 var(--accent-color);
}

}


@media (768px <= width < 1024px) {
  .theme_light .title {
    text-shadow: 4px 4px 0 var(--light-accent-color);
  }

  .theme_light .header__theme-menu-list {
    margin-block-start: 170px;
    margin-inline-end: 19px;
  }
}

@media (375px <= width < 768px) {
  .theme_light .title {
    text-shadow: 4px 4px 0 var(--light-accent-color);
  }

  .theme_light .header__theme-menu-list {
    margin-block-start: 62px;
    margin-inline-end: 0px;
  }
}

@media (768px <= width < 1024px) {

  .theme_dark .rec {
    margin-block-start: 1.4rem;
    margin-inline-start: 0.3rem;
  }
}

@media (375px <= width < 768px) {

  .theme_dark .rec {
    margin-block-start: 0.8rem;
    margin-inline-start: -3.9rem;
  }

  .theme_dark .header__theme-menu-list {
    margin-block-start: 42px;
}
}
