.theme-dark .page {
    background-color: #00183F;
    --accent-color: #ff0070;
    --padding-buttom: 0px 13px;
    --title-color: #DB00FF;
    --dark-text-color: #000028;
    --light-text-color: #F1B2CE;
}
